<html ng-app="webApp">
	
	<head>
		<link rel ="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"></link>
		<script src="node_modules/angular/angular.js"></script>
		<link rel="stylesheet" href="app/css/main.css">
		<script src="app/app.js"></script>	
		<script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>

		<!-- Controllers -->
		<script src="app/signup/signup-controller.js"></script>		
		<script src="app/navigation/navigation-controller.js"></script>
		<script type="text/javascript" src="app/profile/edit-profile-controller.js"></script>
		<script type="text/javascript" src="app/main/main-controller.js"></script>
		<script type="text/javascript" src="app/follow/follow-controller.js"></script>

		<!-- libraries -->
		<script type="text/javascript" src="node_modules/ng-file-upload/dist/ng-file-upload-all.js"></script>
		<script type="text/javascript" src="node_modules/ng-file-upload/dist/ng-file-upload-shim.js"></script>
		<script type="text/javascript" src="node_modules/ng-file-upload/dist/ng-file-upload.js"></script>
	</head>

	<!--<nav class = "navbar navbar-fixed-top"  style="background-color:#0B7875" ng-controller="NavigationController">
        	<div class="container">
        		<div ng-show="!loggedIn">
        	
        			<input type="email" ng-model="login.email">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        			<input style="background-color:ivory" type="password" ng-model="login.password">
        			&nbsp;&nbsp;&nbsp; 
        			<button ng-click="logUserIn()">Login</button> 
        			<a style="color:#fff99c" ui-sref="signup">&nbsp;&nbsp;Create An Account&nbsp;&nbsp;&nbsp;</a>
        		</div>
        		
        		<div ng-show="loggedIn">
        			<a style="color:#fff99c" href="#/chirp">Show Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;</a>
        			<a style="color:#fff99c" ui-sref="follow">Follow</a>&nbsp;&nbsp;&nbsp;&nbsp;</a>
        		    <a style="color:#fff99c" ui-sref="editProfile">Edit Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;</a>
        			<a style="color:#fff99c;float:right" ng-click="logOut()">LogOut</a>
        		</div>
        	</div>
        	
        </nav>-->
       <nav class = "navbar navbar-default navbar-fixed-top" style="background-color:#0B7875" ng-controller="NavigationController">
        	<div class="container">
        		<div ng-show="!loggedIn">
        			<input type="text" ng-model="login.email"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        			<input style="background-color:ivory"  type="password" ng-model="login.password">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        			<button ng-click="logUserIn()" ui-sref="main">Login</button>
        			<a style="color:#fff99c" ui-sref="signup">&nbsp;&nbsp;Create An Account&nbsp;&nbsp;&nbsp;</a>
        		</div>
        		<div ng-show="loggedIn"> 
        			<a ui-sref="main" style="color:#fff99c;">Show Profile&nbsp;&nbsp;&nbsp;&nbsp;</a>
        			<a ui-sref="editProfile" style="color:#fff99c;">Edit Profile&nbsp;&nbsp;&nbsp;&nbsp;</a>
        			<a ui-sref="follow" style="color:#fff99c;">Follow&nbsp;&nbsp;&nbsp;&nbsp;</a>
        			<a ng-click="logOut()" ui-sref="main" style="float: right;color:#fff99c;">LogOut</a></div>
        	</div>
        </nav>
<body> 
        
        <div ui-view></div>
	</body>
	
	

</html>